# Get files started
snippet newinfo
	name = ${1:Pretty Name}
	description = ${2:Description}
	core = 7.x
	;php = 5.2
	;package = Custom
	;dependencies[] = libraries
	;files[] = `Filename()`.admin.inc
	;files[] = `Filename()`.classes.inc
	;files[] = `Filename()`.theme.inc
	;files[] = `Filename()`.pages.inc
